<?php echo $header; ?>
<style>
    @media print {

        /* Стиль для печати */
        #feedback,
        .row-top,
        .modal,
        footer,
        .row-top,
        #nav__basemenu,
        .noprint {
            display: none;
        }

        /* Блок который нужно отобразить */
        .printobl {
            display: block !important;
        }
    }
</style>
<div class="container-block">
    <div class="container-inner">
        <div class="row">
            <div class="col-xs-12">
                <ul class="breadcrumb">
                    <?php foreach ($breadcrumbs as $breadcrumb) { ?>
                        <li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>
                    <?php } ?>
                </ul>
                <?php if ($attention) { ?>
                    <div class="alert alert-info"><i class="fa fa-info-circle"></i> <?php echo $attention; ?>
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                    </div>
                <?php } ?>
                <?php if ($success) { ?>
                    <div class="alert alert-success"><i class="fa fa-check-circle"></i> <?php echo $success; ?>
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                    </div>
                <?php } ?>
                <?php if ($error_warning) { ?>
                    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> <?php echo $error_warning; ?>
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                    </div>
                <?php } ?>
            </div>
        </div>
        <div class="row"><?php echo $column_left; ?>
            <?php if ($column_left && $column_right) { ?>
                <?php $class = 'col-sm-6'; ?>
            <?php } elseif ($column_left || $column_right) { ?>
                <?php $class = 'col-sm-9'; ?>
            <?php } else { ?>
                <?php $class = 'col-sm-12'; ?>
            <?php } ?>
            <div id="content" class="<?php echo $class; ?>"><?php echo $content_top; ?>
                <h1><?php echo $heading_title; ?></h1>
                <!-- <div class="noprint"><img src="https://scandicstyle.ru/img/bricks/print.png" /> <a href="javascript:window.print()">распечатать</a></div> -->
                <form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <td class="text-center"><?php echo $column_image; ?></td>
                                    <td class="text-center"><?php echo $column_name; ?></td>
                                    <td class="text-center"><?php echo $column_quantity; ?></td>
                                    <td class="text-center"><?php echo $column_price; ?></td>
                                </tr>
                            </thead>
                            <tbody>
                                <?php foreach ($products as $product) { ?>
                                    <tr>
                                        <td class="text-center"><?php if ($product['thumb']) { ?>
                                                <a href="<?php echo $product['href']; ?>"><img src="<?php echo $product['thumb']; ?>" alt="<?php echo $product['name']; ?>" title="<?php echo $product['name']; ?>" class="img-thumbnail" /></a>
                                            <?php } ?></td>
                                        <td class="text-center"><a href="<?php echo $product['href']; ?>"><?php echo $product['name']; ?></a>
                                            <?php if (!$product['stock']) { ?>
                                                <span class="text-danger">***</span>
                                            <?php } ?>
                                            <?php if ($product['option']) { ?>
                                                <?php foreach ($product['option'] as $option) { ?>
                                                    <br />
                                                    <small><?php echo $option['name']; ?>: <?php echo $option['value']; ?></small>
                                                <?php } ?>
                                            <?php } ?>
                                            <?php if ($product['reward']) { ?>
                                                <br />
                                                <small><?php echo $product['reward']; ?></small>
                                            <?php } ?></td>
                                        <td class="block-center">
                                            <div class="input-group btn-block" style="max-width: 200px;">
                                                <input type="text" name="quantity[<?php echo $product['key']; ?>]" value="<?php echo $product['quantity']; ?>" size="1" class="form-control" />
                                                <span class="input-group-btn">
                                                    <button type="submit" data-toggle="tooltip" title="<?php echo $button_update; ?>" class="btn btn-primary" onclick="cart.update(<?php echo $product['key']; ?>, $('input[name=quantity[<?php echo $product['key']; ?>]]').val());"><i class="fa fa-refresh"></i></button>
                                                    <button type="button" data-toggle="tooltip" title="<?php echo $button_remove; ?>" class="btn btn-danger" onclick="cart.remove(<?php echo $product['key']; ?>);"><i class="fa fa-times-circle"></i></button>
                                                </span></div>
                                        </td>
                                        <td class="text-center"><?php echo $product['price']; ?></td>
                                    </tr>
                                <?php } ?>
                                <?php foreach ($vouchers as $voucher) { ?>
                                    <tr>
                                        <td></td>
                                        <td class="text-left"><?php echo $voucher['description']; ?></td>
                                        <td class="text-left"></td>
                                        <td class="text-left">
                                            <div class="input-group btn-block" style="max-width: 200px;">
                                                <input type="text" name="" value="1" size="1" disabled="disabled" class="form-control" />
                                                <span class="input-group-btn">
                                                    <button type="button" data-toggle="tooltip" title="<?php echo $button_remove; ?>" class="btn btn-danger" onclick="voucher.remove('<?php echo $voucher['key']; ?>');"><i class="fa fa-times-circle"></i></button>
                                                </span></div>
                                        </td>
                                        <td class="text-right"><?php echo $voucher['amount']; ?></td>
                                        <td class="text-right"><?php echo $voucher['amount']; ?></td>
                                    </tr>
                                <?php } ?>
                            </tbody>
                        </table>
                    </div>
                </form>

                <br />
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-8 totals-block">
                        <table class="table table-bordered">
                            <?php foreach ($totals as $total) { ?>
                                <tr>
                                    <td class="text-right"><strong><?php echo $total['title']; ?>:</strong></td>
                                    <td class="text-right"><?php echo $total['text']; ?></td>
                                </tr>
                            <?php } ?>
                        </table>
                    </div>
                </div>
                <div class="buttons clearfix">
                    <div class="pull-left"><a style="font-size: 9pt;" href="<?php echo $continue; ?>" class="btn btn-default"><?php echo $button_shopping; ?></a></div>
                    <div class="pull-right"><a style="font-size: 9pt;" href="<?php echo $checkout; ?>" class="btn btn-primary"><?php echo $button_checkout; ?></a></div>
                </div>
                <?php echo $content_bottom; ?>
            </div>
            <?php echo $column_right; ?>
        </div>
    </div>
</div>
<?php echo $footer; ?>