<!-- <div id="slideshow<?php echo $module; ?>" class="main-slider"></div>

<script type="text/javascript">
  $('#slideshow<?php echo $module; ?>').vegas({
    delay: 7000,
    timer: true,
    shuffle: true,
    animation: 'random',
    transitionDuration: 2000,
    slides: [
      { src: '/img/scd_slider/slider1.jpg' },
      { src: '/img/scd_slider/slider2.jpg' },
      { src: '/img/scd_slider/slider3.jpg' },
      { src: '/img/scd_slider/slider4.jpg' }
    ]
  });
</script> -->