.left-menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    padding-top: 8px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.4);
    background: white;
    z-index: 200;
}

.left-menu>div:not(.left-menu__compressed) {
    display: block;
}

.left-menu__content {
    background: white;
}

.left-menu__row {
    display: flex;
    align-items: center;
    max-width: 320px;
    height: 50px;
    text-decoration: none;
    padding: 10px;
    cursor: pointer;
    background: white;
    position: relative;
    transition: background-color 0.3s linear;
}

.left-menu__text {
    width: 0;
    height: 50px;
    overflow: hidden;
    transition: width 0.2s linear, padding 0.2s linear, background-color 0.3s linear;
    white-space: nowrap;
    position: absolute;
    top: 0;
    left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    z-index: 50;

    font-size: 16px;
}

.left-menu__row:hover {
    background-color: #e4d8d8;
}

.left-menu__row:hover .left-menu__text {
    width: 200px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #e4d8d8;
}

.left-menu__icon {
    width: 40px;
    display: flex;
    align-items: center;
}

.left-menu__icon img {
    width: 100%;
    max-height: 25px;
}

.left-menu__footer {
    position: absolute;
    bottom: 0;
    padding-bottom: 25px;
    left: 0;
    width: 100%;
    background: white;
    z-index: 2;
}

.left-menu__footer .social-block {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-menu__footer .social-block img {
    transition: opacity 0.3s;
    margin-top: 5px;
    width: 25px;
}

.left-menu__border {
    border-top: 1px solid #dfdfdf;
    width: 85%;
    margin: 0 auto;
}

.container,
.container-block {
    padding-left: 60px;
}

.container-inner {
    padding: 0 35px;
}

@media (max-width: 767px) {
    .container-inner {
        padding: 0;
    }
}

.slider-block {
    padding: 0 0 0 60px;
    margin-top: -65px;
}

@media (max-width: 767px) {

    .container,
    .container-block,
    .slider-block {
        padding: 0;
    }

    .slider-block {
        margin-top: -25px;
    }

    .common-home .slider-block {
        margin-top: -65px;
    }
}

/* hide left menu on mobile */

@media (max-width: 767px) {
    .left-menu {
        display: none;
    }

    .left-menu__compressed {
        display: none;
    }

    .search-block {
        padding-left: 15px;
    }

    .navbar-container,
    .container {
        margin-left: 0 !important;
    }

    .container-block {
        margin-left: 0 !important;
    }
}