.novanna {display: none !important;}
#slideshow1 {display: none !important;}
#slideshow0 {display: none !important;}
#news_mar1 {display: none !important;}
#news_mar0 {display: none !important;}
#news_foo1 {display: none !important;}
#news_foo0 {display: none !important;}
#cont_foo1 {display: none !important;}
#cont_foo0 {display: none !important;}
#sale_spb {display: none !important;}
#sale_smr {display: none !important;}
#new_spb {display: none !important;}
#new_smr {display: none !important;}
#shop_spb {display: none !important;}
#shop_smr {display: none !important;}