#slideshow1 {display: none !important;}
#slideshow2 {display: none !important;}
#news_mar1 {display: none !important;}
#news_mar2 {display: none !important;}
#cont_foo1 {display: none !important;}
#cont_foo2 {display: none !important;}
#news_foo1 {display: none !important;}
#news_foo2 {display: none !important;}
#sale_msk {display: none !important;}
#sale_smr {display: none !important;}
#new_msk {display: none !important;}
#new_smr {display: none !important;}
#shop_msk {display: none !important;}
#shop_smr {display: none !important;}