@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");

body {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    color: #333;
    font-size: 11pt;
    line-height: 20px;
    width: 100%;
    margin-top: 65px;
}

@media (max-width: 767px) {
    body.no-scroll {
        overflow: hidden;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #222;
}

/* default font size */
.fa {
    font-size: 14px;
}

/* Override the bootstrap defaults */
h1 {
    font-size: 33px;
    margin-top: 0px;
}

h2 {
    font-size: 27px;
}

h3 {
    font-size: 21px;
}

h4 {
    font-size: 15px;
}

h5 {
    font-size: 12px;
}

h6 {
    font-size: 10.2px;
}

@media (max-width: 767px) {
    h1 {
        font-size: 25px;
    }
}

b,
strong {
    font-weight: 600 !important;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
    color: #000 !important;
}

legend {
    font-size: 18px;
    padding: 7px 0px;
}

label {
    font-size: 12px;
    font-weight: normal;
}

select.form-control,
textarea.form-control,
input[type="text"].form-control,
input[type="password"].form-control,
input[type="datetime"].form-control,
input[type="datetime-local"].form-control,
input[type="date"].form-control,
input[type="month"].form-control,
input[type="time"].form-control,
input[type="week"].form-control,
input[type="number"].form-control,
input[type="email"].form-control,
input[type="url"].form-control,
input[type="search"].form-control,
input[type="tel"].form-control,
input[type="color"].form-control {
    font-size: 12px;
}

.input-group input,
.input-group select,
.input-group .dropdown-menu,
.input-group .popover {
    font-size: 12px;
}

.input-group .input-group-addon {
    font-size: 12px;
    height: 30px;
    background-color: #5f3241;
    color: #ffffff;
    padding: 5px;
}

/* Fix some bootstrap issues */
span.hidden-xs,
span.hidden-sm,
span.hidden-md,
span.hidden-lg {
    display: inline;
    color: #ffffff;
    font-weight: 600;
}

.tab-content>.tab-pane {
    border: 1px solid #ddd;
    border-width: 0px 1px 1px 1px;
    padding: 15px;
}

div.required .control-label:before {
    content: "* ";
    color: #f00;
    font-weight: bold;
}

/* Gradent to all drop down menus */
.dropdown-menu li>a:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: #007acc;
}

.dropdown-menu li>a {
    margin: 0 !important;
    text-align: left;
    padding: 5px 20px 5px 10px !important;
}

.dropdown-menu {
    padding: 0;
}

.dropdown-menu {
    border: none;
}

#product {
    margin-top: 10px;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.no-left-padding {
    padding-left: 0;
}

/* top */
#top {
    background-color: #ffffff;
    padding: 0;
    min-height: 36px;
    font-size: 13px;
}

#top .container,
.wrapper_header_conent .container {
    padding: 0 20px;
}

#top #form-currency .currency-select,
#top #form-language .language-select {
    text-align: left;
    color: #333;
    font-size: 13px;
    padding: 3px 16px;
}

#top #form-currency .currency-select:hover,
#top #form-language .language-select:hover {
    text-shadow: none;
    text-decoration: none;
    color: #007acc;
    background-color: #eee;
}

#top .btn-group>.btn-link,
#top-links>ul>li,
#top-links>ul>li>a {
    color: #2568b5;
    font-weight: 600;
    background: none;
    text-decoration: none;
}

#top .btn-group>.btn-link:hover,
#top-links>ul>li>a:hover {
    color: #eee;
}

#top-links .dropdown-menu a {
    text-shadow: none;
    font-size: 13px;
}

#top .btn-link strong {
    font-size: 14px;
    line-height: 14px;
}

#top-links {
    padding-top: 6px;
}

#top-links a+a {
    margin-left: 15px;
}

/* logo */
#logo {
    margin: 0;
}

/* menu-lower */

.menu_lower {
    padding: 0 20px;
}

.row-top {
    margin: 20px 0 15px 0;
}

.phones {
    padding-left: 50px;
    margin: 0;
}

.phones span {
    font-size: 14px;
    font-weight: 500 !important;
    letter-spacing: -0.2px;
}

/* Nav */

.main-nav {
    display: flex;
    flex-direction: row;
    padding: 5px 0;
    padding-left: 60px;
}

.main-nav .search-block {
    min-width: 300px;
}

.main-nav.white .search-block img {
    filter: invert(1);
}

.main-nav .city-select-block {
    margin-left: 50px;
    margin-right: 25px;
}

.main-nav.white .city-select-block img {
    filter: invert(1);
}

.main-nav .menu-block {
    margin-left: auto;
    margin-right: 45px;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
}

.main-nav .menu-block a {
    color: #000;
    display: block;
    transition: color 0.3s;
    text-align: center;
}

.main-nav.white .menu-block a {
    color: #fff;
}

.main-nav .menu-block a:hover {
    color: #5f3241 !important;
}

.main-nav .social-block {
    margin-top: 13px;
    margin-right: 45px;
}

.main-nav .social-block a {
    display: inline-block;
    padding: 0 5px;
}

.main-nav .social-block img {
    height: 20px;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.2s;
}

.main-nav.white .social-block img {
    filter: invert(1);
}

.main-nav .social-block img:hover {
    opacity: 0.6;
}

.main-nav .callme-block {
    margin-right: 20px;
}

.main-nav .cart-block {
    margin-left: 25px;
    margin-right: 40px;
}

.main-nav .logo-block {
    display: block;
    margin: 0 auto;
}

.main-nav .logo-block img {
    width: 150px;
}

.main-nav .catalog-block-mobile {
    display: flex;
    flex-basis: 33.3333%;
    flex-wrap: wrap;
    padding-top: 10px;
}

.main-nav .catalog-block-mobile .catalog-item {
    display: block;
    width: 33.3333%;
    margin-bottom: 10px;
}

.main-nav .catalog-block-mobile .catalog-item .catalog-item__icon img {
    max-width: 60%;
    display: block;
    margin: 0 auto 5px auto;
}

.main-nav .catalog-block-mobile .catalog-item .catalog-item__text {
    text-align: center;
}

@media (max-width: 1230px) {
    .main-nav .city-select-block {
        margin-left: 20px;
    }

    .main-nav .cart-block {
        margin-right: 10px;
        margin-left: 10px;
    }

    .main-nav .callme-block {
        margin-right: 10px;
    }
}

@media (max-width: 1130px) {
    .main-nav .social-block {
        margin-right: 20px;
    }

    .main-nav .menu-block {
        margin-right: 20px;
    }
}

@media (max-width: 1080px) {
    .main-nav .search-block {
        min-width: 215px;
    }

    #search .btn-lg {
        padding: 7px 15px 8px 0;
    }
}

@media (max-width: 950px) {
    .main-nav .logo-block img {
        width: 100px;
    }

    .main-nav .logo-block {
        margin: 5px auto;
    }
}

@media (max-width: 850px) {
    .main-nav .social-block {
        display: none;
    }
}

@media (max-width: 767px) {
    .main-nav {
        height: 100vh !important;
        flex-direction: column;
        padding: 0 20px;
        overflow-y: auto;
    }

    .main-nav>div:not(.catalog-block-mobile) {
        padding: 0;
        margin: 0;
        height: 35px;
        width: 100%;
    }

    .main-nav .menu-block {
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
    }

    .main-nav .menu-block a,
    .main-nav .social-block {
        line-height: 35px;
    }

    .main-nav .social-block {
        display: block;
        margin-top: 0;
        margin-right: 0;
    }

    .main-nav .social-block .instagram-link {
        padding-left: 0;
    }

    .main-nav .city-select-block {
        margin: 0;
    }

    .main-nav .search-block {
        /* order: -1; */
        /* margin-bottom: 10px !important; */
    }
}

@media (min-width: 767px) {
    .catalog-block-mobile {
        display: none;
    }
}

.mobile-menu-line {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 1px !important;
    width: 100%;
    background-color: #dedede;
}

@media (min-width: 767px) {
    .mobile-menu-line {
        display: none;
    }
}

/* search */
#search {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 3px;
}

@media (max-width: 899px) {
    #search {
        width: 100% !important;
    }
}

#search .input-lg {
    height: 40px;
    width: 100%;
    line-height: 20px;
    padding: 0 15px 0 0;
    border: none;
    background: none;
    border-radius: 0;
    box-shadow: none;
    border-right: none;
    color: black;
    font-size: 14px;
    outline: none;
}

@media (max-width: 767px) {
    #search .input-lg {
        height: 35px;
        font-size: 15px;
    }
}

.main-nav #search .input-lg::placeholder {
    color: #444;
}

.main-nav.white #search .input-lg::placeholder {
    color: white;
}

#search .btn-lg {
    font-size: 16px;
    color: white;
    padding: 7px 15px 8px 15px;
    text-shadow: none;
    box-shadow: none;
    border-radius: 0;
    background: none;
    border: none;
    border-left: none;
    outline: none !important;
}

#search .button-search {
    cursor: pointer;
}

#search .button-search img {
    max-height: 25px;
}

@media (max-width: 767px) {
    #search .input-lg {
        padding-right: 0;
    }

    #search .btn-lg {
        padding: 5px 7px 6px 0;
    }

    #search .button-search img {
        max-height: 17px;
    }
}

/* cart */
.cart-button img {
    max-height: 25px;
    margin-top: 12px;
}

.totals-block {
    padding-right: 0;
}

/* menu */
#menu {
    background-color: #f5f5f5;
    min-height: 40px;
    text-align: left;
}

#menu .navbar-collapse {
    padding: 0;
}

#menu .nav>li>a {
    color: #000;
    padding: 10px 15px 10px 15px;
    min-height: 15px;
    background-color: transparent;
    font-size: 14px;
}

#menu .nav>li:hover>a,
#menu .nav>li.open>a {
    background-color: #007acc;
    color: #fff;
    border-radius: 3px;
}

#menu .dropdown-menu {
    padding-bottom: 0;
    text-align: left;
}

#menu .dropdown-inner {
    display: table;
}

#menu .dropdown-inner ul {
    display: table-cell;
}

#menu .dropdown-inner a {
    min-width: 175px;
    display: block;
    padding: 4px 20px;
    clear: both;
    line-height: 20px;
    color: #333333;
    font-size: 12px;
}

#menu .dropdown-inner li a:hover {
    color: #007acc;
}

#menu .see-all {
    display: block;
    margin-top: 0.5em;
    border-top: 1px solid #ddd;
    padding: 3px 20px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 3px 3px;
    font-size: 12px;
}

#menu .see-all:hover,
#menu .see-all:focus {
    text-decoration: none;
    color: #ffffff;
    background-color: #007acc;
}

#menu #category {
    float: left;
    font-size: 16px;
    line-height: 40px;
    color: #000;
    margin-left: 15px;
}

#menu .btn-navbar {
    font-size: 15px;
    font-stretch: expanded;
    color: #fff;
    padding: 2px 18px;
    float: right;
    background-color: #007acc;
}

#menu .btn-navbar:hover,
#menu .btn-navbar:focus,
#menu .btn-navbar:active,
#menu .btn-navbar.disabled,
#menu .btn-navbar[disabled] {
    color: #ffffff;
    background-color: #000;
}

@media (min-width: 768px) {
    #menu .dropdown:hover .dropdown-menu {
        display: block;
    }
}

@media (max-width: 767px) {
    #menu .navbar-nav {
        margin: 0;
    }

    #menu .in {
        border-top: 1px dotted #bbb;
    }

    #menu {
        border-radius: 4px;
    }

    #menu div.dropdown-inner>ul.list-unstyled {
        display: block;
    }

    #menu div.dropdown-menu {
        margin-left: 0 !important;
        padding-bottom: 10px;
        background-color: #fff;
    }

    #menu .dropdown-inner {
        display: block;
    }

    #menu .dropdown-inner a {
        width: 100%;
        color: #222;
    }

    #menu .dropdown-menu a:hover,
    #menu .dropdown-menu ul li a:hover {
        background-color: #eee;
    }

    #menu .see-all {
        margin-top: 0;
        border: none;
        border-radius: 0;
        color: #222;
    }

    #menu .see-all:hover {
        color: #007acc;
    }
}

.navbar {
    border: 0;
    min-height: 0;
}

@media (min-width: 768px) {
    .navbar {
        border-radius: 0;
    }
}

/* content CUSTOMIZE*/
/*#content {min-height: 70vh;}*/

/* footer */
footer {
    margin-top: 30px;
    padding-top: 15px;
    padding-bottom: 10px;
    background-color: #4a4a4a;
    color: #ffffff;
}

@media (max-width: 767px) {
    footer {
        margin-top: 10px;
    }
}

footer hr {
    border-top: none;
    border-bottom: 1px solid #707070;
    margin-top: 15px;
    margin-bottom: 10px;
}

footer a {
    color: #ffffff;
}

footer a:hover {
    color: #fff;
    text-decoration: underline;
}

footer h5 {
    font-family: inherit;
    font-size: 18px;
    color: #fff;
    margin-bottom: 15px;
}

footer li {
    margin: 4px 0;
}

footer li a {
    position: relative;
    color: #ffffff;
    position: relative;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none !important;
    transition: color 0.3s;
}

footer li a:hover {
    color: #f7e9e9 !important;
    text-decoration: underline;
}

footer li img {
    margin-right: 10px;
}

footer.fixed-bottom {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer .social-block .facebook-link {
    margin-left: 5px;
}

footer .social-block .vk-link {
    margin: 0 2px 0 5px;
}

footer .social-block .instagram-link {
    margin-right: 5px;
}

footer .social-block img {
    max-height: 20px;
    transition: opacity 0.3s;
}

footer .social-block img:hover {
    opacity: 0.7;
}

/* alert */
.alert {
    padding: 8px 14px 8px 14px;
}

/* breadcrumb */
.breadcrumb {
    margin: 20px 0 5px 0;
    padding: 0px;
    background: none;
}

@media (max-width: 767px) {
    .breadcrumb {
        font-size: 8pt !important;
        overflow: hidden !important;
        margin-bottom: 0;
    }

    .breadcrumb>li {
        white-space: normal !important;
    }
}

.breadcrumb i {
    font-size: 15px;
    color: black;
}

.breadcrumb>li {
    text-shadow: 0 1px 0 #fff;
    padding: 0 10px;
    position: relative;
    white-space: nowrap;
}

.breadcrumb>li:first-child {
    padding-left: 0;
}

.breadcrumb>li a {
    color: black;
}

.breadcrumb>li a:hover {
    opacity: 0.7;
}

.breadcrumb>li+li:before {
    content: "";
    padding: 0;
}

.breadcrumb>li:after {
    content: "";
    display: block;
    position: absolute;
    top: 9px;
    right: -3px;
    width: 6px;
    height: 6px;
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.pagination {
    margin: 0;
}

/* buttons */
.buttons {
    margin: 1em 0;
}

.btn {
    padding: 7px 16px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
}

.btn-xs {
    font-size: 9px;
}

.btn-sm {
    font-size: 10.2px;
}

.btn-lg {
    padding: 10px 16px;
    font-size: 15px;
}

.btn-group>.btn,
.btn-group>.dropdown-menu,
.btn-group>.popover {
    font-size: 12px;
    background-color: #5f3241;
    color: #ffffff;
}

.btn-group>.btn-xs {
    font-size: 9px;
}

.btn-group>.btn-sm {
    font-size: 10.2px;
}

.btn-group>.btn-lg {
    font-size: 15px;
}

.btn-default {
    color: #ffffff;
    background-color: #5f3241;
}

.btn-primary {
    color: #ffffff;
    background-color: #5f3241;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
    background-color: #e6e6e6;
    border-color: #adadad;
    color: black;
}

.btn-primary.focus,
.btn-primary:focus {
    background-color: #e6e6e6;
    border-color: #adadad;
    color: #ffffff;
}

.btn-warning {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #faa732;
    background-image: linear-gradient(to bottom, #fbb450, #f89406);
    background-repeat: repeat-x;
    border-color: #f89406 #f89406 #ad6704;
}

.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
    box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}

.btn-danger {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #da4f49;
}

.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
    box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}

.btn-success {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #5bb75b;
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
    box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}

.btn-info {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #df5c39;
}

.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
    background-image: none;
    background-color: #df5c39;
}

.btn-link {
    border-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    color: #23a1d1;
    border-radius: 0;
}

.btn-link,
.btn-link:active,
.btn-link[disabled] {
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    box-shadow: none;
}

.btn-inverse {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #363636;
}

.btn-inverse:hover,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
    background-color: #222222;
}

/* list group */
.list-group a {
    color: #000;
    padding: 8px 12px;
}

.list-group a.active,
.list-group a.active:hover,
.list-group a:hover {
    color: #ffffff;
    background: #2568b5;
}

.list-group a,
.list-group a.active,
.list-group a.active:hover,
.list-group a:hover {
    -webkit-box-sizing: none !important;
    -moz-box-sizing: none !important;
    box-sizing: none !important;
}

.list-group-item {
    border: none !important;
}

/* carousel */
.carousel-caption {
    color: #ffffff;
    text-shadow: 0 1px 0 #000000;
}

.carousel-control .icon-prev:before {
    content: "\f053";
    font-family: FontAwesome;
}

.carousel-control .icon-next:before {
    content: "\f054";
    font-family: FontAwesome;
}

.category-title {
    font-size: 30px;
    color: #575757;
}

@media (max-width: 767px) {
    .category-title {
        font-size: 20px;
    }
}

/* product list */
.product-thumb {
    margin-bottom: 20px;
    overflow: auto;
    transition: box-shadow 500ms;
}

.product-thumb:hover {
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

@media (max-width: 767px) {
    .product-thumb:hover {
        box-shadow: none;
    }
}

.product-thumb .image {
    text-align: center;
}

.product-thumb .image a {
    display: block;
}

/*.product-thumb .image a:hover { opacity: 0.8; }*/
.product-thumb .image img {
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}

.product-grid .product-thumb .image {
    float: none;
}

@media (min-width: 767px) {
    .product-list .product-thumb .image {
        float: left;
        padding: 0 15px;
    }
}

.product-thumb .caption {
    text-align: center;
}

.product-thumb .caption>p {
    display: none;
}

.product-thumb .caption>p.price {
    display: block;
}

.product-list .product-thumb .caption {
    margin-left: 230px;
    text-align: left;
}

.caption {
    min-height: 90px;
}

@media (max-width: 767px) {
    .product-list .product-thumb .caption {
        min-height: 0;
        margin-left: 0;
    }

    .product-grid .product-thumb .caption {
        min-height: 0;
    }
}

.product-thumb .rating {
    padding-bottom: 10px;
}

.rating .fa-stack {
    font-size: 8px;
}

.rating .fa-star-o {
    color: #999;
    font-size: 15px;
}

.rating .fa-star {
    color: #fc0;
    font-size: 15px;
}

.rating .fa-star+.fa-star-o {
    color: #e69500;
}

h2.price {
    margin: 0;
}

.product-thumb .price {
    color: #444;
}

.product-thumb .price-new {
    font-weight: 600;
}

.product-thumb .price-old {
    color: #999;
    text-decoration: line-through;
    margin-left: 10px;
}

.product-thumb .price-tax {
    color: #999;
    font-size: 12px;
    display: block;
}

.product-thumb .button-group {
    background-color: #5f3241;
    overflow: auto;
    visibility: hidden;
    padding: 0 5px;
}

.product-thumb:hover .button-group {
    visibility: visible;
}

.product-list .product-thumb .button-group {
    visibility: visible;
}

@media (max-width: 767px) {
    .product-thumb .button-group {
        visibility: visible;
    }
}

.product-list .product-thumb .caption>p {
    display: block;
}

@media (max-width: 768px) {
    .product-list .product-thumb .button-group {
        border-left: none;
    }
}

.product-thumb .button-group button {
    width: 60%;
    border: none;
    display: inline-block;
    float: left;
    background-color: #5f3241;
    color: #ffffff;
    line-height: 38px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.product-thumb .button-group button+button {
    width: 20%;
    border-left: 1px solid #ddd;
}

.product-thumb .button-group button:hover {
    color: #fff;
    background-color: #5f3241;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 1200px) {

    .product-thumb .button-group button,
    .product-thumb .button-group button+button {
        width: 33.33%;
    }
}

@media (max-width: 767px) {

    .product-thumb .button-group button,
    .product-thumb .button-group button+button {
        width: 33.33%;
    }
}

.thumbnails {
    overflow: auto;
    clear: both;
    list-style: none;
    padding: 0;
    margin: 0;
}

.thumbnails>li {
    margin-left: 20px;
}

.thumbnails {
    margin-left: -20px;
}

.thumbnails>img {
    width: 100%;
}

.image-additional a {
    margin-bottom: 20px;
    padding: 5px;
    display: block;
    border: 1px solid #ddd;
}

.image-additional {
    max-width: 78px;
}

.thumbnails .image-additional {
    float: left;
    margin-left: 20px;
}

@media (min-width: 1200px) {

    #content .col-lg-2:nth-child(6n + 1),
    #content .col-lg-2:nth-child(6n + 1),
    #content .col-lg-3:nth-child(4n + 1),
    #content .col-lg-4:nth-child(3n + 1),
    #content .col-lg-6:nth-child(2n + 1) {
        clear: left;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {

    #content .col-md-2:nth-child(6n + 1),
    #content .col-md-2:nth-child(6n + 1),
    #content .col-md-3:nth-child(4n + 1),
    #content .col-md-4:nth-child(3n + 1),
    #content .col-md-6:nth-child(2n + 1) {
        clear: left;
    }
}

@media (min-width: 768px) and (max-width: 991px) {

    #content .col-sm-2:nth-child(6n + 1),
    #content .col-sm-2:nth-child(6n + 1),
    #content .col-sm-3:nth-child(4n + 1),
    #content .col-sm-4:nth-child(3n + 1),
    #content .col-sm-6:nth-child(2n + 1) {
        clear: left;
    }
}

/* fixed colum left + content + right*/
@media (min-width: 768px) {
    #column-left .product-layout .col-md-3 {
        width: 100%;
    }

    #column-left+#content .product-layout .col-md-3 {
        width: 50%;
    }

    #column-left+#content+#column-right .product-layout .col-md-3 {
        width: 100%;
    }

    #content+#column-right .product-layout .col-md-3 {
        width: 100%;
    }
}

.well>h2 {
    margin-top: 0px;
}

/* fixed product layouts used in left and right columns */
#column-left .product-layout,
#column-right .product-layout {
    width: 100%;
}

/* fixed mobile cart quantity input */
.input-group .form-control[name^="quantity"] {
    min-width: 50px;
}

/* Missing focus and border color to overwrite bootstrap */
.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
    background-image: none;
    background-color: #df5c39;
}

/*----------------------
------------------------
CUSTOM STYLE
------------------------
------------------------*/
#content p,
#content ul li {
    line-height: 1.5;
    color: #333;
}

/**--HEADER--**/
.wrapper_header_conent {
    margin: 0px 0px 20px 0px;
    padding: 30px 0px 5px 0px;
    background-image: url(header_bg.png);
    background-size: contain;
    /*background-color:#2568B5;*/
    background-position-x: center;
    background-position-y: 20%;
}

.wrapper_header_conent .fa-search {
    color: #ffffff;
}

.header_social {
    padding-left: 50px;
}

.header_social img {
    width: 20px;
}

#nav__basemenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 11pt;
    color: black;
    /* background: rgba(255, 255, 255, 0.5); */
    background: transparent;
    padding: 3px 0;
    margin-bottom: 0;
    z-index: 100;
    transition: background-color 0.15s, box-shadow 0.15s;
}

#nav__basemenu.fill {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.4);
}

#nav__basemenu .dots {
    content: "";
    background-image: url("/image/catalog/dots.png");
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

#nav__basemenu .container {
    padding: 0 !important;
    margin: 0 !important;
    width: 100%;
}

#nav__basemenu .nav-shadow-inset {
    /*-webkit-box-shadow: inset 0px 0px 46px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0px 0px 46px 0px rgba(0,0,0,0.3);
    box-shadow: inset 0px 0px 46px 0px rgba(0,0,0,0.3);*/
    /*padding: 0px 25px;*/
}

#nav__basemenu .nav-shadow-inset ul li a {
    font-size: 11px;
    font-weight: 500;
    padding: 9px 0;
    margin-left: 15px;
    font-family: Arial, serif;
    text-transform: uppercase;
}

#nav__basemenu .nav-shadow-inset ul li a .caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 6px;
    vertical-align: middle;
    border-top: 3px solid;
    border-right: 3px solid transparent;
    border-left: 3px solid transparent;
}

#nav__basemenu .nav-shadow-inset ul .open a,
#nav__basemenu .nav-shadow-inset ul .open a:focus,
#nav__basemenu .nav-shadow-inset ul .open a:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0);
}

#nav__basemenu .nav-shadow-inset ul .open>a:before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    left: calc(50% - 9px);
    vertical-align: middle;
    border-bottom: 4px solid;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}

#nav__basemenu .nav-shadow-inset ul .open .dropdown-menu {
    border: none;
    border-radius: 4px;
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.3);
    background: white;
}

#nav__basemenu .nav-shadow-inset ul .open .dropdown-menu a {
    color: #1a1a1a;
}

#nav__basemenu .city-select button {
    padding: 10px 0;
    text-decoration: none !important;
    margin-top: 20px;
}

#nav__basemenu .city-select-block {
    vertical-align: middle;
}

#nav__basemenu .city-select-block img {
    max-height: 15px;
    padding-right: 2px;
}

@media screen and (max-width: 767px) {
    #nav__basemenu {
        font-size: 15px;
    }

    #nav__basemenu .city-select button {
        margin-top: 0;
    }

    #nav__basemenu .city-select-block img {
        padding-right: 9px;
    }
}

#nav__basemenu .city-select span {
    color: white !important;
    font-size: 12px;
    font-weight: 500;
}

#nav__basemenu .city-select .fa {
    font-size: 10px;
    margin-right: 10px;
}

#nav__basemenu .btn_feedback {
    margin-top: 7px;
}

@media screen and (min-width: 1100px) {
    #nav__basemenu .container {}
}

@media screen and (max-width: 768px) {
    #nav__basemenu .container {
        width: 100% !important;
    }
}

/*---ADRESS SHOP---*/

.map {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.shop_item_wrapper,
.shopimage_wrapper {
    padding: 0 !important;
}

.shop_item {
    box-shadow: 0 0 2px #ccc;
    overflow: hidden;
    margin: 10px;
}

.shop_title {
    color: #486696;
    text-align: center;
    font-weight: 600;
    margin-top: 12px;
}

.shop_icon {
    width: 16px;
    margin-right: 5px;
}

/*---MAIN PAGE INDEX---*/

/*-index catalog-*/
#index_catalog img {
    display: block;
    margin: 5px auto;
    width: 100px;
}

#index_catalog a {
    display: block;
    margin: 0 auto;
    text-align: center;
}

#index_catalog div {
    padding: 10px 5px;
}

/*tabs*/
.tab-content>.tab-pane,
.nav-tabs {
    border: none !important;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    border-bottom: 1px solid #ccc;
    border-bottom-color: #ccc;

    border-left: none;
    border-right: none;
    border-top: none;
}

/*block catalog Effect*/
.main_diff_block img {
    width: 100%;
}

/*----*/
.table_pcmini_mbig {
    width: 80% !important;
    margin: 0 auto !important;
}

.h2_main {
    font-weight: 400 !important;
    margin-top: 25px !important;
    font-size: 18pt !important;
}

.h3_main {
    font-weight: 400 !important;
    margin-top: 25px !important;
    font-size: 13pt !important;
}

/*-Sertficate-*/
.sertif_item_wrapper,
.sertif_item_wrapper_db {
    padding: 5px;
    cursor: pointer;
}

.sertif_item_wrapper p {
    box-shadow: 0 0 1px #42a5f5;
    background-color: aliceblue;
    text-align: center;
    line-height: 3 !important;
}

.sertif_item_wrapper_db p {
    box-shadow: 0 0 1px #42a5f5;
    text-align: center;
    line-height: 1.5 !important;
    min-height: 115px;
    padding: 10px 5px;
    background-color: aliceblue;
    vertical-align: middle !important;
}

.sertif_item_wrapper p:hover {
    box-shadow: 0 0 5px #42a5f5;
    font-weight: 600;
}

.sertif_item_wrapper_db p:hover {
    box-shadow: 0 0 5px #42a5f5;
}

/*----Тех инфо---*/
.techinfo_item img {
    width: 80%;
    margin: 5px auto;
    display: block;
}

.techinfo_item p {
    text-align: center;
}

#feedback .input-group,
#feedback textarea {
    width: 100% !important;
    margin-bottom: 5px !important;
}

/*-Product image-*/
.thumbnails a>img,
.thumbnails>img {
    /* margin: 5px!important;*/
    width: 100%;
    /* 55 */
    margin: 0 auto !important;
    display: block;
}

.thumbnail,
.thumbnail_product {
    border: none !important;
}

.thumbnail_product {
    width: 80%;
    margin: 0 auto !important;
    display: block;
}

@media (max-width: 1600px) {
    .thumbnail_product {
        width: 65%;
    }
}

@media (max-width: 1190px) {
    .thumbnail_product {
        width: 85%;
    }
}

@media (max-width: 767px) {
    .thumbnail_product {
        width: 100%;
    }
}

.addthis_toolbox,
.addthis_default_style {
    display: none;
}

.list-unstyled li {
    line-height: 1.2 !important;
    font-size: 14pt;
    color: black !important;
    font-weight: 500 !important;
}

.list-unstyled li a {
    text-decoration: underline;
}

#product .btn-block,
#product .form-control {
    width: 35% !important;
}

@media (max-width: 1200px) {

    #product .btn-block,
    #product .form-control {
        width: 60% !important;
    }
}

@media (max-width: 767px) {

    #product .btn-block,
    #product .form-control {
        width: 40% !important;
    }
}

@media (max-width: 500px) {

    #product .btn-block,
    #product .form-control {
        width: 80% !important;
    }
}

footer li a:after {
    content: "" !important;
}

/*-----*/
.owl-carousel {
    /*margin-top: -20px!important;*/
}

.owl-wrapper-outer {
    border: 1px solid #fff !important;
}

/*----*/
#logo img {
    /*margin-left: 10px;*/
}

/*----*/
.header_mans {
    padding-left: 30px;
}

.header_mans div {
    padding: 0 !important;
}

.header_mans .man {
    display: block;
    height: 68px;
    background-repeat: no-repeat;
    background-position: center;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;

    font-size: 12px;
    font-weight: 700;
    color: #fe0000;
    text-shadow: rgb(255, 255, 255) 2px 0px 0px, rgb(255, 255, 255) 1.75517px 0.958851px 0px,
        rgb(255, 255, 255) 1.0806px 1.68294px 0px, rgb(255, 255, 255) 0.141474px 1.99499px 0px,
        rgb(255, 255, 255) -0.832294px 1.81859px 0px, rgb(255, 255, 255) -1.60229px 1.19694px 0px,
        rgb(255, 255, 255) -1.97998px 0.28224px 0px, rgb(255, 255, 255) -1.87291px -0.701566px 0px,
        rgb(255, 255, 255) -1.30729px -1.5136px 0px, rgb(255, 255, 255) -0.421592px -1.95506px 0px,
        rgb(255, 255, 255) 0.567324px -1.91785px 0px, rgb(255, 255, 255) 1.41734px -1.41108px 0px,
        rgb(255, 255, 255) 1.92034px -0.558831px 0px;
}

.header_mans .man:hover {
    line-height: 50px;
}

.navbar-default .navbar-nav>li>a {
    color: #ffffff !important;
    font-weight: 300;
}

/*--------*/
.ymaps-2-1-71-pictogram_icon_shopping {
    background-image: url(map_item.png) !important;
    background-size: 22px 22px !important;
    list-style-image: url(map_item.png) !important;
}

.contact-us-phone {
    color: #5f3241;
}

.info-page-header {
    margin-bottom: 20px;
}

/*----Main hide text----*/
.main_about_hide .main_about_hide .hide {
    display: none;
}

.main_about_hide .hide+label~div {
    display: none;
}

/* оформляем текст label */
.main_about_hide .hide+label {
    cursor: pointer;
}

/* вид текста label при активном переключателе */
.main_about_hide .hide:checked+label {
    /* color: red;
    border-bottom: 0;*/
}

/* когда чекбокс активен показываем блоки с содержанием  */
.main_about_hide .hide:checked+label+div {
    display: block;
}

label {
    font-size: 11pt !important;
}

/*---Catalog btn----*/
#list-view,
#grid-view {
    background-color: #2568b5;
}

#list-view .fa,
#grid-view .fa {
    color: #ffffff;
}

/*---index icon---*/
.index-catalog-item {
    transition: 0.55s ease;
    -o-transition: 0.55s ease;
    -webkit-transition: 0.55s ease;
    -moz-transition: 0.55s ease;
    -ms-transition: 0.55s ease;
    height: 120px;
}

.index-catalog-item:hover {
    transform: translate(0px, -7px);
    -webkit-transform: translate(0px, -7px);
    /** Chrome & Safari **/
    -o-transform: translate(0px, -7px);
    /** Opera **/
    -moz-transform: translate(0px, -7px);
    /** Firefox **/
    -ms-transform: translate(0px, -7px);
    /** Firefox **/
}

.phone_index {
    color: red !important;
    font-weight: 500 !important;
}

.list-inline li span {
    color: #2568b5;
}

.navbar-collapse {
    padding-left: 0px !important;
}

/*-----*/
#banner0 {
    display: none !important;
}

@media (max-width: 1199px) {
    .phones {
        padding-left: 20px;
        margin: 0;
    }

    #logo {
        margin-top: 11px;
    }

    #nav__basemenu .nav-shadow-inset ul li a {
        font-size: 10px;
        margin-right: -4px;
    }

    #nav__basemenu .city-select span {
        font-size: 10px;
    }
}

@media (max-width: 991px) {
    .phones {
        padding-left: 0px;
        margin-top: 15px;
        text-align: center;
    }

    .phones span {
        font-size: 12px;
    }

    #nav__basemenu .nav-shadow-inset ul {
        /*text-align: center;*/
    }

    #nav__basemenu .nav-shadow-inset ul li {
        float: none;
        display: inline-block;
    }

    #nav__basemenu .nav-shadow-inset ul li a {
        font-size: 12px;
        margin-right: 10px;
    }

    #nav__basemenu .city-select span {
        font-size: 12px;
    }

    #cart .cart-btn {
        display: none;
    }
}

@media (max-width: 767px) {
    .navbar-collapse {
        border: none;
    }

    #nav__basemenu .nav-shadow-inset {
        padding: 0 !important;
    }

    #nav__basemenu .nav-shadow-inset ul {
        /*text-align: center;*/
        margin: 0;
        width: 100%;
    }

    #nav__basemenu .nav-shadow-inset ul li {
        float: none;
        display: block;
        width: 100%;
    }

    #cart {
        border: none;
        /*padding: 0 15px;*/
    }

    #cart .cart-btn {
        /*display: inline-block;*/
    }

    #logo {
        margin-bottom: 15px;
    }
}

.navbar-toggle {
    position: relative;
    float: right;
    margin: 8px 0;
    padding: 9px 0;
    background-color: transparent !important;
    background-image: none !important;
    outline: none !important;
    border: none !important;
    border-radius: 3px;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: transparent !important;
    background-image: none !important;
    outline: none !important;
    border: none !important;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 20px;
    height: 3px;
    border-radius: 1px;
    color: #205aa3;
    background-color: #000 !important;
}

.city-select .btn-group>.btn {
    background-color: transparent;
}

.live-search ul li .product-name {
    font-size: 12px !important;
}

.main_diff_block {
    margin-top: 10px;
}

.nav>li>a:focus,
.nav>li>a:hover {
    background-color: #007acc !important;
    color: #ffffff !important;
}

.mancatalog {
    display: block;
    margin: 10px auto;
    width: 50%;
}

/*---Modal---*/
.base_footer_modal input[type="text"],
.base_footer_modal textarea {
    width: 80%;
    display: block;
    margin: 10px auto;
    border: 1px solid #cccccc;
    padding: 5px;
}

.base_footer_modal button {
    margin: 0 auto;
    display: block;
}

.footer_icon {
    position: fixed;
    left: 20px;
    box-shadow: 0 0 3px #cccccc;
    padding: 7px;
    border-radius: 50%;
    background-color: #2568b5;
    cursor: pointer;
}

#icon_up {
    bottom: 21%;
}

#icon_question {
    bottom: 14%;
}

#icon_call {
    bottom: 7%;
}

#search .btn-lg .fa {
    display: none !important;
}

#owl-carousel-partners .owl-prev {
    position: absolute !important;
    font-size: 16pt !important;
    top: 7%;
    left: -2%;
    font-weight: 600;
}

#owl-carousel-partners .owl-next {
    position: absolute !important;
    font-size: 16pt !important;
    top: 7%;
    right: -2%;
    font-weight: 600;
}

ul.podr {
    margin: 0;
    /* Обнуляем значение отступов */
    padding: 4px;
    /* Значение полей */
    width: 100%;
}

ul.podr li {
    display: inline-block;
    /* Отображать как строчный элемент */
    margin-right: 5px;
    /* Отступ слева */
    padding: 3px;
    /* Поля вокруг текста */
}

ul.podr li a {
    font-size: 12pt;
    color: red;
}

ul.podr li a:hover {
    color: #007ad5;
}

@media (max-width: 899px) {
    .mainsite {
        display: none;
    }

    .fontmodal {
        font-size: 12px !important;
    }

    .flt {
        float: left !important;
        margin: 15px 0 0 25px;
    }

    .mwidth {
        width: 330px;
    }

    .bf-attr-header {
        width: 38% !important;
        font-size: 0.7em !important;
    }
}

@media (min-width: 767px) {
    .mobsite {
        display: none;
    }

    .mwidth {
        width: 400px;
    }
}

.vcontainer {
    position: relative;
    padding-bottom: 56.25%;
    /*пропорции видео 16:9 */
    padding-top: 25px;
    height: 0;
}

.vcontainer iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.red69:hover {
    color: red;
}

.red69 {
    color: red;
}

table.forma {
    width: 90%;
    margin: 3px auto 20px auto;
    background: #f7f7f7;
}

table.forma p {
    margin: 0;
    padding: 0;
}

table.forma td {
    vertical-align: top;
    padding: 3px;
    border: #cbd1d9 dotted 1px;
}

table.forma input,
table.forma textarea {
    width: 98%;
}

table.forma td:first-child {
    width: 160px;
    font-weight: bold;
}

table.forma .button {
    width: 110px;
}

.rounded69 {
    counter-reset: li;
    list-style: none;
    font: 14px "Trebuchet MS", "Lucida Sans";
    padding: 0;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.rounded69 a {
    position: relative;
    display: block;
    padding: 0.4em 0.4em 0.4em 2em;
    margin: 1em 0;
    background: #f7f8f9;
    color: #444;
    text-decoration: none;
    border-radius: 0.3em;
    transition: 0.3s ease-out;
    width: 80%;
}

.rounded69 span {
    float: right;
    display: block;
    margin-top: -37px;
}

.rounded69 a:hover {
    background: #5f3241;
    color: #fff;
}

.rounded69 a:before {
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.7em;
    background: #fff;
    height: 3em;
    width: 3em;
    line-height: 2em;
    border: 0.3em solid white;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all 0.3s ease-out;
}

.newswidth {
    width: 230px;
}

.mobtable {
    border: 1px solid #ddd;
}

.citiwarn {
    background: #5f3241;
    color: #fff;
    width: 100%;
}

.citiwarn a {
    color: #fff;
    text-decoration: underline;
}

.citiwarn a:hover {
    color: #fff;
    text-decoration: underline;
}

a.list-group-item2 {
    background: #2568b5;
    color: #fff;
}

.panel-heading {
    background: #2568b5;
}

.hoverred {
    color: #fff !important;
}

.hoverred:hover {
    background: #cd0000;
}

.product-price td {
    position: relative;
    vertical-align: middle !important;
}

.product-price .image img {
    max-width: 70px;
}

.product-price .product-label {
    display: none;
}

.product-price .price span {
    display: block;
}

.product-price .price-new {
    font-weight: 600;
}

.product-price .price-old {
    color: #999;
    text-decoration: line-through;
}

.product-price .button-group button {
    display: none;
}

.product-price .button-group button:first-child {
    display: block;
    border: none;
    color: #888;
    line-height: 38px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    min-width: 100px;
    background: #fff !important;
}

.product-price .button-group button:first-child span {
    display: none;
}

#input-quantity {
    width: 20%;
    line-height: 2em;
    margin-top: 3px;
}

#price-view {
    border: none;
    padding: 0;
    background: none !important;
}

#price-view:hover {
    border: none;
    padding: 0;
    background: none !important;
}

.product-stock,
.product-cost {
    font-size: 18px;
    font-weight: bold;
}

.price-numbers,
.stock-span {
    font-weight: normal;
    color: #5f3241;
}

.bf-attr-header {
    width: 35%;
    font-size: 1em;
}

#owl-product-carousel {
    display: block;
}

.product-thumb .button-group button {
    width: 80%;
}

.bold-text {
    font-weight: bold;
}

/*#pryamye_divany {
    background-color: #5F3241;
}*/

.nav-tabs li.active a,
.nav-tabs li a:focus,
.nav-tabs li a:hover {
    background: #5f3241 !important;
    color: white;
}

.nav-tabs li:not(.active) a {
    color: #5f3241;
}

.alert-yellow {
    background-color: rgba(237, 153, 7, 0.4);
}

.social-icon {
    width: 25px;
    color: #5f3241;
}

@media (max-width: 767px) {
    /*.cart-text {
		display: none !important;
	}*/

    #cart {
        width: 100%;
    }

    .navbar-nav {
        max-width: 100%;
    }

    #cart {
        background-position: 0 center;
    }

    .row {
        margin-right: 0 !important;
    }

    #navbar .col-xs-12 {
        width: 100%;
    }
}

.mobile-logo {
    padding: 3px 0;
    max-height: 50px;
}

.nav__basemenu {
    z-index: 1;
}

.slider-block .vegas-slide {
    width: 100% !important;
}

.slider-container .row {
    margin-left: 0;
    margin-right: 0;
}

.two-columns {
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
}

@media (max-width: 767px) {
    .two-columns {
        -moz-column-count: 1;
        -moz-column-gap: 0;
        -webkit-column-count: 1;
        -webkit-column-gap: 0;
        column-count: 1;
        column-gap: 0;
    }
}

.tkani-link {
    color: #5f3241;
    font-size: 16px;
}

.tkani-main table tbody tr th,
.tkani-main table tbody tr td {
    border: 1px solid black;
    padding: 3px 5px;
}

.scandic-gallery {
    display: flex;
    flex-basis: 25%;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.scandic-gallery a {
    width: 80px;
    height: 80px;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.scandic-gallery a:last-child {
    margin-right: 0;
}

.scandic-gallery .scandic-gallery__thumbnail {
    height: 100%;
    /*border-radius: 50%;*/
}

/* Bootstrap 4 Expansion */

.row-bs4 .col {
    position: relative;
    width: 25%;
    margin-bottom: 15px;
    padding: 20px 10px;
    transition: 500ms;
}

.row-bs4 .col:hover {
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.row-bs4 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-basis: 25%;
    width: 100%;
    padding: 0;
}

@media (max-width: 1000px) {
    .row-bs4 {
        flex-basis: 50%;
    }

    .row-bs4 .col {
        width: 50%;
    }
}

@media (max-width: 767px) {
    .row-bs4 {
        flex-basis: 100%;
    }

    .row-bs4 .col {
        width: 100%;
        margin-bottom: 10px;
        padding: 0;
    }

    .row-bs4 .col:hover {
        box-shadow: none;
    }
}

/* ---------------------- */
.collections-list {
    width: 100%;
}

.collections-list ul li {
    list-style-type: none;
    text-align: center;
}

.collections-list ul li a {
    color: black;
    transition: all 0.5s;
}

.collections-list ul li:hover a {
    color: #5f3241;
}

.collections-list ul li img {
    max-width: 65%;
    height: auto;
}

@media (max-width: 767px) {
    .footer-contact-block {
        padding: 0 30px;
    }
}

.footer-copyright {
    font-size: 13px;
    margin-top: 10px;
    padding-right: 40px;
}

.footer-politics {
    margin-top: 10px;
    font-size: 13px;
}

.footer-politics a:hover,
.footer-contact a:hover {
    transition: color 0.3s;
    color: #f7e9e9 !important;
    text-decoration: none;
}

.footer-header {
    color: white;
    position: relative;
    display: inline-block;
}

.footer-logo {
    max-width: 70%;
    margin: 0 auto;
    display: block;
}

.footer-address {
    text-align: center;
    max-width: 70%;
    margin: 10px auto 0 auto;
}

@media (max-width: 767px) {
    .footer-logo {
        max-width: 50%;
        margin: 0;
    }

    .footer-address {
        max-width: 100%;
        text-align: left;
    }
}

.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.bf-layout-id-41 .ui-widget-header {
    background: #5f3241 !important;
}

.img-thumbnail {
    border: none !important;
}

.fa-2x {
    font-size: 2em !important;
}

.fa-3x {
    font-size: 3em !important;
}

.article-icon {
    color: #5f3241;
}

.callme-block {
    height: 40px;
    position: relative;
    /*cursor: pointer;*/
    box-sizing: border-box;
}

.callme-block button {
    width: 100%;
    height: 100%;
    background-color: transparent;
    outline: none;
    padding: 0;
}

.callme-block button:hover,
.callme-block button:focus {
    color: white;
    outline: 0;
}

.callme-block img {
    max-height: 25px;
}

.callme-block span {
    font-size: 14px;
    position: absolute;
    top: 11px;
    left: 55px;
}

.callme-block .callme-icon-hover {
    display: none;
}

.callme-block:hover .callme-icon {
    display: none;
}

.callme-block:hover .callme-icon-hover {
    display: block;
}

#callme-modal .modal-body {
    text-align: center;
}

#callme-modal .modal-body input {
    margin-bottom: 10px;
}

#callme-modal .modal-body p {
    color: black;
}

.callme-form {
    width: 50%;
    margin: 0 auto;
}

#button-buyinoneclick {
    display: block;
    text-align: center;
    margin-top: 20px;
    text-decoration: underline;
    width: 35%;
    cursor: pointer;
    transition: color 0.3s;
}

@media (max-width: 1200px) {
    #button-buyinoneclick {
        width: 60%;
    }
}

@media (max-width: 767px) {
    #button-buyinoneclick {
        width: 40%;
    }
}

@media (max-width: 500px) {
    #button-buyinoneclick {
        width: 80%;
    }
}

#button-buyinoneclick:hover {
    color: #5f3241 !important;
}

#buyinoneclick-modal .modal-body {
    text-align: center;
}

#buyinoneclick-modal .modal-body input {
    margin-bottom: 10px;
    width: 100% !important;
}

#buyinoneclick-modal .modal-body p {
    color: black;
}

.buyinoneclick-form {
    width: 50%;
    margin: 0 auto;
}

.common-home .main-slider {
    width: 100%;
    height: 500px !important;
}

@media (max-width: 1400px) {
    .common-home .main-slider {
        height: 380px !important;
    }
}

@media (max-width: 767px) {
    .common-home .main-slider {
        height: 280px !important;
    }
}

.catalog-description {
    min-height: 50px !important;
    display: flex;
    align-items: center;
}

.catalog-description p {
    font-size: 16px;
}

/* Product Description */

.description {
    display: block;
}

.description p,
.description span {
    font-family: inherit;
    margin-bottom: 0;
    font-size: 16px;
}

/* //Product Description */

.product-title {
    font-size: 26px;
}

.float-none {
    clear: both;
}

.pagination>li>a {
    color: #5f3241;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background-color: #5f3241;
    border-color: #5f3241;
}

.add-to-cart-button {
    width: 100% !important;
}

.add-to-cart-tooltip {
    position: absolute;
}

.logo-wrapper {
    text-align: left;
}

.city-select-block select {
    font-size: 16px;
    border: 2px solid #ccc;
    color: black;
    cursor: pointer;
    outline: none;
    margin: 15px 0;
}

.city-select-block select option {
    font-size: 14px;
    border: none;
    outline: none;
}

.box {
    position: relative;
}

@media (max-width: 767px) {
    .city-select-block select {
        text-align-last: left;
        text-align: left;
        -ms-text-align-last: left;
        -moz-text-align-last: left;
    }
}

.city-confirm {
    display: block;
    position: absolute;
    top: 55px;
    left: -30px;
    color: black;
    background: white;
    -webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.5);
    padding: 25px;
    width: 310px;
    z-index: 9999;
}

@media (max-width: 767px) {
    .city-confirm {
        display: none;
    }
}

.city-confirm.hidden {
    display: none;
}

.city-confirm:after {
    content: "";
    position: absolute;
    top: 0;
    left: 12%;
    width: 0;
    height: 0;
    border: 12px solid transparent;
    border-bottom-color: #ffffff;
    border-top: 0;
    margin-left: -12px;
    margin-top: -12px;
}

.city-confirm #city-confirm__selected-city {
    font-weight: bold;
}

.city-confirm__buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.city-confirm form button {
    width: 47%;
    border: none;
    border-radius: 2px;
    padding: 7px;
}

.city-confirm #button_yes {
    background: #5f3241;
    color: #ffffff;
}

.city-select-modal-button {
    background: transparent;
    color: white;
    border: none;
    font-size: 14px;
    outline: none;
    display: flex;
    float: right;
    padding-left: 0;
}

.city-select-modal-button:focus {
    outline: none !important;
}

.city-select-modal-button img {
    margin-top: 14px;
}

.city-select-modal-button div {
    margin-top: 13px;
    color: #444;
}

.main-nav.white .city-select-modal-button div {
    color: white;
}

@media (max-width: 767px) {
    .left-on-mobile {
        text-align: left !important;
    }

    .city-select-modal-button {
        margin-top: 0;
        height: 35px;
        float: left;
        font-size: 15px;
    }
}

#city-select-modal .modal-content {
    color: black;
    padding: 20px;
}

.modal-contact-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 50%;
}

.modal-contact-card {
    width: 50%;
    padding: 10px;
}

.modal-contact-card-content {
    padding: 10px;
    border: 1px solid #eee;
    width: 100%;
    height: 100%;
}

.modal-contact-card-content .fa {
    margin-right: 5px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
}

.modal-contact-card-content .name {
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: bold;
}

@media (max-width: 767px) {
    .modal-contact-wrapper {
        flex-direction: column;
        flex-basis: 100%;
    }

    .modal-contact-card {
        width: 100%;
    }
}

.scandic-link {
    cursor: pointer;
    color: #5f3241;
}

.footer_icon {
    display: none;
}

table {
    border: 1px solid black;
}

thead td {
    font-weight: bold;
    font-size: 20px;
}

tr,
td {
    border: 1px solid black;
}

td {
    padding: 3px;
}

/* Articles */

.article-wrapper-block {
    max-width: 100%;
    text-align: justify;
    padding-right: 20px;
}

.article-wrapper-block p {
    text-indent: 1.5em;
    font-size: 16px;
    margin: 15px 0;
}

@media (max-width: 1000px) {
    .article-wrapper-block {
        max-width: 100%;
        margin: 0 auto;
    }
}

.article-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 25%;
}

.article-card {
    width: 25%;
    box-sizing: border-box;
    padding: 5px 10px 5px 0;
}

.article-card-inner {
    border: 1px solid #eee;
    padding: 10px;
    transition: box-shadow 0.2s;
}

.article-card-inner:hover {
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

@media (max-width: 767px) {
    .article-card-inner:hover {
        box-shadow: none;
    }

    .article-card {
        padding-left: 0;
        padding-right: 0;
    }
}

.article-card-content {
    display: flex;
    flex-direction: column;
}

.article-left {
    margin-bottom: 10px;
}

.article-left img {
    width: 100%;
}

.article-right {
    min-height: 140px;
}

.article-header a {
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.3s;
}

.article-header a:hover {
    color: #5f3241 !important;
}

.article-preview {
    margin: 15px 0;
    font-size: 12px;
    min-height: 30px;
    line-height: 1.2;
}

.article-read {
    padding: 15px 0 5px 5px;
    text-align: center;
}

.article-read a {
    color: #5f3241;
    text-decoration: none;
    display: inline-block;
    background: transparent;
    border: 3px solid #5f3241;
    font-weight: bold;
    padding: 5px 10px;
    transition: all 0.3s;
}

.article-read a:hover {
    color: white !important;
    background: #5f3241;
}

.article-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 50%;
}

.article-images img {
    width: 50%;
    padding: 10px;
}

.article-image {
    width: 100%;
}

@media (max-width: 1450px) {
    .article-wrapper {
        flex-basis: 33.3333%;
    }

    .article-card {
        width: 33.3333%;
    }
}

@media (max-width: 1023px) {
    .article-wrapper {
        flex-basis: 50%;
    }

    .article-card {
        width: 50%;
    }
}

@media (max-width: 767px) {
    .article-wrapper {
        flex-basis: 100%;
        flex-direction: column;
    }

    .article-card {
        width: 100%;
        padding-right: 0;
    }

    .article-images {
        flex-direction: column;
        flex-basis: 100%;
    }

    .article-images img {
        width: 100%;
    }
}

#timer {
    font-family: inherit;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 20px;
}

#timer>div {
    padding: 5px;
    border-radius: 3px;
    background: #5f3241;
    display: inline-block;
}

#timer div>span {
    padding: 5px;
    border-radius: 3px;
    background: #5f3241;
    display: inline-block;
    min-width: 25px;
}

#timer div#stock-ended {
    height: 70px;
}

#timer div#stock-ended>span {
    margin-top: 15px;
}

.smalltext {
    font-size: 10px;
}

/* /// Articles */

/* Sales */

.sale-page {
    width: 50%;
    /* margin: 0 auto; */
    /* text-align: center; */
}

.sale-page img {
    max-width: 100%;
}

.sale-text {
    width: 90%;
    margin: 0 auto;
}

.sale-text p {
    margin-bottom: 3px;
}

@media (max-width: 766px) {
    .sale-page {
        width: 100%;
    }
}

/* /// Sales */

#city-select-modal select {
    border-radius: 3px;
    background: white;
    color: black;
    outline: none;
    border: 3px solid #ccc;
    padding: 10px 5px;
    width: 100%;
    font-weight: bold;
    transition: border-color 0.3s;
}

#city-select-modal select:hover,
#city-select-modal select:focus {
    border-color: #4a4a4a;
}

#city-select-modal select option {
    font-weight: normal;
}

button:focus {
    outline: 1px solid #5f3241 !important;
}

.select2 {
    display: block !important;
    margin-top: 7px !important;
}

.select2:focus {
    outline: none !important;
}

.select2-selection__rendered {
    padding: 0 !important;
}

.select2-container--default .select2-selection--single {
    background-color: transparent !important;
    border: none !important;
    border-radius: 0 !important;
}

.select2-container--default .select2-selection--single:focus {
    outline: none;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #5f3241 !important;
}

.select2-selection__arrow {
    display: none;
}

.select2-dropdown {
    width: 160px !important;
    /* background-color: transparent !important; */
    border: none !important;
}

.select2-container--default .select2-results__option[aria-selected="true"] {
    background-color: transparent !important;
}

.select2-container--open .select2-dropdown {
    left: -20px !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #5f3241 !important;
}

.form-control:focus {
    border-color: #5f3241 !important;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(205, 164, 74, 0.6) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(205, 164, 74, 0.6) !important;
}

.form-control {
    height: 34px !important;
}

.add-to-cart-notification {
    position: fixed;
    bottom: 50px;
    right: 20px;
    border: 3px solid #5f3241;
    border-radius: 10px;
    padding: 10px;
    background: white;
    z-index: 9999;
}

.add-to-cart-notification .notification-close {
    margin-left: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: #5f3241;
}

.result-page table,
.result-page tr,
.result-page td {
    border: 1px solid lightgrey !important;
}

.result-page__product {
    border: 2px solid #eee;
    border-radius: 4px;
    margin: 15px 0;
    padding: 10px;
    /* -webkit-box-shadow: 0px 0px 10px 1px rgba(205,164,74,0.5);
    -moz-box-shadow: 0px 0px 10px 1px rgba(205,164,74,0.5);
    box-shadow: 0px 0px 10px 1px rgba(205,164,74,0.5); */
}

.result-page__product h3 {
    margin: 0;
    color: #5f3241;
    margin-bottom: 5px;
    font-weight: bold;
}

.result-page__product .result-page__product-info {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.result-page__product .result-page__product-info p {
    margin-bottom: 2px;
    font-size: 16px;
}

.result-page__product .result-page__product-info .product-header {
    color: #5f3241;
    font-weight: bold;
}

.result-page__total {
    font-size: 18px;
}

.result-page__total .total-price {
    color: #5f3241;
    font-size: 20px;
}

.callme-block button img {
    float: left;
    margin-top: 5px;
}

/* Кружочки с тканями в карточке товара */

.tissue {
    max-width: 100%;
    margin: 20px 0;
}

.tissue__block {
    display: inline-block;
    margin: 0 5px;
    border: 2px solid #ccc;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.tissue__block:first-child {
    margin-left: 0;
}

.tissue__block:last-child {
    margin-right: 0;
}

.tissue__information {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 40px;
    left: -83px;
    width: 200px;
    padding: 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.85);
    color: white;
    font-size: 13px;
    transition: all 0.3s;
    z-index: 100;
    pointer-events: none;
}

.tissue__information:after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: rgba(0, 0, 0, 0.85) transparent;
    display: block;
    width: 0;
    z-index: 1;
    margin-left: -12px;
    top: -10px;
    left: 50%;
}

.tissue__block:hover .tissue__information {
    opacity: 1;
    visibility: visible;
}

.tissue__information .tissue__name {
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
}

.tissue__information .tissue__description {
    margin-top: 5px;
}

.tissue__information .tissue__description p {
    line-height: 13px !important;
    margin-bottom: 3px;
    color: white !important;
}

.tissue__wrapper {
    margin-top: 10px;
}

.tissue__all {
    text-decoration: underline;
    transition: color 0.3s;
}

.tissue__all:hover {
    color: #5f3241 !important;
    text-decoration: underline;
}

@media (max-width: 767px) {
    .tissue__block--first .tissue__information {
        left: -5px;
    }

    .tissue__block--first .tissue__information::after {
        left: 11%;
    }

    .tissue__block--last .tissue__information {
        left: -150px;
    }

    .tissue__block--last .tissue__information::after {
        left: 84%;
    }
}

/* Mechanism */

.mechanism {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0;
    font-size: 18px;
}

.mechanism img {
    margin-right: 15px;
    max-width: 75px;
}

.mechanism p {
    color: #5f3241 !important;
}

/* Search */

.search-page .product-filter {
    display: flex;
}

.search-page .product-filter .sort {
    margin-left: 10px;
}

.search-page .product-list .product-thumb:hover {
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.search-page .product-list .product-thumb .caption {
    margin-left: 0;
    text-align: center;
}

.search-page .product-list .product-thumb .button-group {
    visibility: hidden;
}

.search-page .product-list .product-thumb:hover .button-group {
    visibility: visible;
}

.no-left-padding {
    padding-left: 0;
}

@media (min-width: 767px) {
    .search-page .product-list .product-thumb .image {
        float: none;
    }
}

.main-about .row>div {
    margin: 0 auto;
}

/* Cornerbox */

.advantage {
    position: relative;
    width: 500px;
    margin: 50px auto 50px auto;
    color: black;
}

.advantage .head {
    overflow: hidden;
    margin: 0 20px 0 -10px;
    font-size: 18px;
    line-height: 18px;
    white-space: nowrap;
    font-weight: bold;
}

.advantage .body {
    margin: 0;
    padding: 15px 25px 25px;
    font-style: italic;
}

.advantage:before,
.advantage:after,
.advantage .body:after,
.advantage .head:after {
    border: 3px solid #5f3241;
}

.advantage:before,
.advantage:after,
.advantage .body:after {
    content: "";
    position: absolute;
    bottom: 0;
}

.advantage:before,
.advantage:after {
    box-sizing: border-box;
    width: 20px;
}

.advantage:before {
    top: 10.5px;
    right: 0;
    border-left: 0;
}

.advantage:after {
    top: 35.2px;
    left: 0;
    border-top: 0;
    border-right: 0;
}

.advantage.rounded:before {
    border-radius: 0 20px 20px 0;
}

.advantage.rounded:after {
    border-radius: 0 0 0 20px;
}

.advantage .body:after {
    right: 20px;
    left: 20px;
}

.advantage .body:after,
.advantage .head:after {
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
}

.advantage .head:after {
    content: "";
    display: inline-block;
    width: 100%;
    margin: 10.8px 0 0 10px;
    vertical-align: top;
}

@media (max-width: 767px) {
    .advantage {
        margin: 20px auto 20px auto;
    }
}

@media (max-width: 600px) {
    .advantage .head {
        font-size: 9.5px;
        line-height: 24px;
    }
}

@media (max-width: 570px) {
    .advantage {
        width: 90%;
    }
}

/* Big Block */

.big-block-wrapper-left,
.big-block-wrapper-right {
    padding-left: 0;
    padding-right: 0;
    padding-top: 6px;
}

.big-block-wrapper-left {
    padding-right: 3px;
}

.big-block-wrapper-right {
    padding-left: 3px;
}

@media (max-width: 991px) {
    .big-block-wrapper-left {
        padding-right: 0;
    }

    .big-block-wrapper-right {
        padding-left: 0;
    }
}

.big-block {
    width: 100%;
    background-repeat: no-repeat;
}

.lookbook-block {
    background-size: cover;
    background-position: center 75%;
}

.akcii-block {
    background-size: cover;
    background-position: 20% 80%;
}

.big-block__cover {
    background-color: rgba(255, 255, 255, 0.6);
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 0.2s;
}

.big-block:hover .big-block__cover {
    opacity: 0;
}

@media (max-width: 767px) {
    .big-block:hover .big-block__cover {
        opacity: 1;
    }
}

@media (max-width: 550px) {
    .big-block__cover {
        height: 200px;
    }
}

.big-block__title {
    font-size: 50px;
    text-transform: uppercase;
    color: rgb(48, 48, 48);
    /* font-weight: bold; */
    letter-spacing: 3px;
}

@media (max-width: 767px) {
    .big-block__title {
        font-size: 40px;
    }
}

tr {
    border: 1px solid #ddd;
}

.block-center>div {
    margin: 0 auto;
}

.background-block {
    position: relative;
    overflow: hidden;
}

.background-block::before {
    content: "";
    position: absolute;
    left: 8%;
    width: 100%;
    height: 100%;
    background-color: #f7e9e9;
}

@media (max-width: 1400px) {
    .background-block::before {
        left: 6%;
    }
}

@media (max-width: 767px) {
    .background-block::before {
        left: 0;
    }
}

.main_h2 {
    margin-top: 30px;
    padding-top: 30px;
}

@media (max-width: 600px) {
    .main_h2 {
        font-size: 22px;
        margin-top: 20px;
        padding-top: 0;
    }
}

/* Pages */

.links {
    border: 1px solid lightgrey;
    border-radius: 3px;
    display: inline-block;
}

.links b,
.links a {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-right: 1px solid lightgrey;
    text-align: center;
}

.links *:last-child {
    border-right: none;
}

/* Галерея */

.p-0 {
    padding-left: 0px;
}

.photobox {
    display: inline-block;
}

.photobox__previewbox {
    position: relative;
    overflow: hidden;
}

.photobox__preview {
    display: block;
    max-width: 100%;
    height: auto;
}

.photobox__previewbox:before {
    content: "";
}

/* type 16 */

.photobox_type16 .photobox__previewbox:before {
    width: 100%;
    height: 100%;

    background-color: var(--photoboxOverlay, rgba(0, 0, 0, 0.8));
    opacity: 0;
    -webkit-transition: opacity var(--photoboxAnimationDuration, 0.4s) cubic-bezier(0.71, 0.05, 0.29, 0.9);
    transition: opacity var(--photoboxAnimationDuration, 0.4s) cubic-bezier(0.71, 0.05, 0.29, 0.9);
    will-change: opacity;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.photobox_type16:hover .photobox__previewbox:before {
    opacity: 1;
}

.photobox_type16 .photobox__label {
    width: 98%;
    text-align: center;

    opacity: 0;
    -webkit-transition: opacity calc(var(--photoboxAnimationDuration, 0.4s) / 4) cubic-bezier(0.71, 0.05, 0.29, 0.9);
    transition: opacity calc(var(--photoboxAnimationDuration, 0.4s) / 4) cubic-bezier(0.71, 0.05, 0.29, 0.9);
    will-change: opacity;

    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 2;
}

.photobox_type16:hover .photobox__label {
    opacity: 1;
    -webkit-transition-duration: var(--photoboxAnimationDuration, 0.4s);
    transition-duration: var(--photoboxAnimationDuration, 0.4s);
    -webkit-transition-delay: calc(var(--photoboxAnimationDuration, 0.4s) / 2);
    transition-delay: calc(var(--photoboxAnimationDuration, 0.4s) / 2);
}

.photobox_type16 .photobox__preview {
    -webkit-transition: -webkit-transform var(--photoboxAnimationDuration, 0.4s) cubic-bezier(0.71, 0.05, 0.29, 0.9);
    transition: -webkit-transform var(--photoboxAnimationDuration, 0.4s) cubic-bezier(0.71, 0.05, 0.29, 0.9);
    transition: transform var(--photoboxAnimationDuration, 0.4s) cubic-bezier(0.71, 0.05, 0.29, 0.9);
    transition: transform var(--photoboxAnimationDuration, 0.4s) cubic-bezier(0.71, 0.05, 0.29, 0.9),
        -webkit-transform var(--photoboxAnimationDuration, 0.4s) cubic-bezier(0.71, 0.05, 0.29, 0.9);
    will-change: transform;
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
}

.photobox_type16:hover .photobox__preview {
    -webkit-transform: scale(1.2) translate(4%, 4%);
    transform: scale(1.2) translate(4%, 4%);
}

.photobox {
    color: black;
    font-size: 2.5rem;
    font-weight: 700;
    width: 33.33333%;
    padding-right: 5px;
    padding-bottom: 5px;
    --photoboxOverlay: rgba(230, 230, 230, 0.5);
    /*--photoboxAnimationDuration: .5s;*/
}

@media screen and (max-width: 480px) {
    .photobox {
        width: 100%;
    }
}

.page {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.page__demo {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.page__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.scrollup {
    width: 40px;
    height: 40px;
    opacity: 0.3;
    position: fixed;
    bottom: 150px;
    cursor: pointer;
    right: 65px;
    display: none;
    text-indent: -9999px;
    z-index: 99999;
    background: url("/img/icon_top.png") no-repeat;
}

/* Go to collection Button */

.go-to-collection {
    width: 70%;
    padding: 0 15px;
    margin: 0 auto;
    border: none;
    display: inline-block;
    background-color: #f7e9e9;
    color: #ffffff;
    line-height: 38px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.go-to-collection span {
    color: white;
    font-weight: lighter;
    display: inline-block;
    line-height: 1.2;
    margin-top: 10px;
}

.go-color {
    background-color: #5f3241;
}

/*.go-color span {
    color:black;
}*/

.div-collection {
    position: relative;
    bottom: 35px;
}

/* Modal Privacy */

.modal-privacy {
    text-align: left;
}

.modal-privacy a {
    text-decoration: underline;
    color: #5F3241;
}

.modal-privacy p {
    float: left;
    width: 81%;
    margin-right: 14px;
}


@media (max-width: 765px) {
    .modal-privacy p {
        width: 100%;
        margin-right: 0;
    }

    .modal-privacy {
        text-align: center;
    }
}

/* // Modal Privacy */

/* Специальная новость про открытие салона */
.news_store_open {
    width: 50%;
    position: relative;
    padding-right: 0;
}

.news_store_open p {
    text-indent: 0;
    font-size: 18px;
    position: absolute;
    text-align: center;
    color: black;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 10px;
    pointer-events: none;
}

.news_store_open p.first-line {
    bottom: 0; /* 47px */
    background-color: rgba(255, 255, 255, .8);
    line-height: 1.2 !important;
}

.news_store_open p.second-line {
    bottom: 130px;
    display: inline-block;
    left: 0;
    width: auto;
    padding: 10px 20px 10px 40px;
    background-color: rgba(240, 101, 147, .8);
    color: white !important;
}

.news_store_open p.second-line span {
    font-size: 55px;
    line-height: 1;
}

.news_store_open .border {
    position: absolute;
    width: 95%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -58%);
    border: 3px solid rgba(255, 255, 255, .5);
}

@media(max-width: 1470px) {
    .news_store_open p {
        font-size: 14px;
    }

    .news_store_open p.second-line span {
        font-size: 35px;
    }
}

@media (max-width: 767px) {
    .news_store_open {
        width: 100%;
    }
}

@media (max-width: 550px) {
    .news_store_open p {
        font-size: 12px;
    }

    .news_store_open p.second-line {
        bottom: 104px;
        padding: 3px 5px 4px 20px;
    }
}

@media (max-width: 320px) {
    .news_store_open p.second-line {
        width: 100%;
    }
}